/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #484848;
  background-color: #a3cef1;
  /* Image from Hero Patterns */
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23274c77' fill-opacity='0.41'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* Main Container */

.wrapper {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

.contentBox {
  background: ghostwhite;
  margin: 5rem 0;
  box-shadow: 2rem 2rem #484848;
  border: 1px solid #484848;
}

/* Typography */

h1 {
  font-size: 7rem;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 3rem;
  margin: 1.5rem 0 0;
  font-weight: 200;
}

h3 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

/* Header Styles */

header {
  background: #274C77;
  padding: 5rem;
  color: ghostwhite;
}

/* Section Styles */

.formSection {
  padding: 5rem;
}

.resultSection {
  padding: 0 5rem 5rem;
}

/* Form Styles */

.radioSelect {
  margin: 4rem 0;
  position: relative;
}

label {
  margin-left: 6rem;
  text-transform: capitalize;
}

label[for=diy] {
  text-transform: uppercase;
}

input {
  opacity: 0;
  height: 4rem;
  width: 4rem;
  position: absolute;
	left: -0.5rem;
  top: -0.7rem;
}

label::before {
  border: 2px solid #274C77;
  content: '';
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -0.5rem;
}

label::after {
  content: '';
	opacity: 0;
	border: 1rem solid #d34500;
	border-radius: 50%;
	position: absolute;
	left: 0.5rem;
	top: 0;
	transition: opacity 0.2s ease-in-out;
}

input:checked + label::after {
  opacity: 1;
}

input:focus + label::before {
	box-shadow: 0 0 0 0.3rem #d34500;	
  outline: 0.3rem solid transparent; 
}

button {
  padding: 2rem 4rem;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #d34500;
  box-shadow: 0 0.5rem #999;
}

button:hover,
button:focus {
  background: #993200;
}

button:active {
  background: #333333;
  box-shadow: 0 0 #999;
  transform: translateY(0.5rem);
}

/* To-Do Section */

.saveTask {
  margin: 0 5rem 5rem;
}

.icon {
  margin-right: 2rem;
}

.todoSection {
  padding: 0 5rem 5rem; 
}

.todoSection p {
  font-weight: 700;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #484848;
}

ul {
  list-style: none;
  padding: 0;
}

.removeTask {
  margin-left: 1rem;
  padding: 1rem;
  background: none;
  color: inherit;
  box-shadow: none;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.removeTask:hover,
.removeTask:focus {
  color: red;
  background: none;
  transform: scale(2, 2);
}

.removeTask:active {
  transform: translateY(0.5rem);
}

/* Footer Styles */

footer {
  background: #A6B5C7;
  color: #333333;
  padding: 1.5rem 5rem;
}

footer a {
  color: #333333;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: black;
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .contentBox {
    box-shadow: 1.5rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
  .contentBox {
    box-shadow: 1rem 1rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2,
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 100%;
  }
  .contentBox {
    box-shadow: none;
    margin: 0;
  }
  h1 {
    font-size: 4rem;
  }
  h2,
  h3 {
    font-size: 2rem;
  }
}